{% load static %}
<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RZN: {{post.title}}</title>
        <link rel="stylesheet" href="{% static 'main/css/article.css' %}"/>
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"/>
    </head>
    <body>
        <header>
            <h1>Real ZED</h1>
            <img src="{% static 'main/images/logo.jpg' %}" height="130px" width="130px" alt="logo" style='border-radius: 50%'/>
            <h1>NEWS</h1>
        </header>
        <main><br/>
            <div class="container">
                    <div class='cover'>
                        <p class='title'>{{post.title}}</p>
                        <div style="text-align: right; margin-right: 20px;"><small>{{post.date_time}}</small></div>
                        <p style="text-align: center;"><img src="{{post.image}}" height="175px" alt="{{post.title}}"/></p>
                        <p class='introduction'>{{post.introduction}}</p>
                        <p class='articlebody'>{{post.body}}</p>
                        <p class='articlebody'>{{post.body1}}</p>
                        <p class='articlebody'>{{post.body2}}</p>
                        <p class='articlebody'>{{post.body3}}</p>
                        <p class='articlebody'>{{post.body4}}</p>
                        <p class='articlebody'>{{post.body5}}</p>
                        <p class='articlebody'>{{post.body6}}</p>
                        <p class='articlebody'>{{post.body7}}</p>
                        <p class='articlebody'>{{post.body8}}</p>
                        <p class='articlebody'>{{post.body9}}</p>
                        <p class='articlebody'>{{post.body10}}</p><br/><br/>
                        <p class='outro'><b>Posted By: </b>{{post.posted_by}}</p>
                        <p class='outro'><b>Position: </b>{{post.position}}</p>
                    </div><br/>
        </div>
        </main>
        <footer>
            <h5>Real, Important and Educative news</h5>
        </footer>
    </body>
</html>

