{% load static %}
<!Doctype html>
<html>
    <head>
        <title>RZN: {{post.title}}</title>
        <link rel="stylesheet" href="{% static 'main/css/article.css' %}"/>
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"/>
    </head>
    <body>
        <header>
            <h1>Real Zed</h1>
            <img src="{% static 'main/images/logo.jpg' %}" height="130px" width="130px" alt="logo" style='border-radius: 50%'/>
            <h1>News</h1>
        </header>
        <main><br/>
            <div class="container">
                <div class="row">
                    <div class='cover'>
                        <p class='title'>{{post.title}}</p>
                        <p style="text-align: center;"><img src="{{post.image}}" height="200px" alt="{{post.title}}"/></p>
                        <p class='introduction'>{{post.introduction}}</p>
                        <p class='body'>{{post.body}}</p>
                        <p class='body'>{{post.body1}}</p>
                        <p class='body'>{{post.body2}}</p>
                        <p class='body'>{{post.body3}}</p>
                        <p class='body'>{{post.body4}}</p>
                        <p class='body'>{{post.body5}}</p>
                        <p class='body'>{{post.body6}}</p>
                        <p class='body'>{{post.body7}}</p>
                        <p class='body'>{{post.body8}}</p>
                        <p class='body'>{{post.body9}}</p>
                        <p class='body'>{{post.body10}}</p>
                        <p class='outro'><b>Posted By: </b>{{post.posted_by}}</p>
                        <p class='outro'><b>Position: </b>{{post.position}}</p>
                    </div>
                </div><br/>
        </div>
        </main>
        <footer>
            <h5>Real, trusted and educative news</h5>
        </footer>
    </body>
</html>