{% load static %}
<!Doctype html>
<html>
    <head>
        <!-- Meta Tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="X7FAtoNoxQJkwdOHWsLIQ2NgOmJx7VgO-S2ZOZNxx5A" />

        <title>Real Zed News</title>


        <!-- Link Styles-->
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch+Pop&display=swap" rel="stylesheet"/>
    
    </head>
    <body style="width: 100%;">
        <header>
            <div class="htitle">Real ZED</div>
            <img src="{% static 'main/images/logo.jpg' %}" height="130px" width="130px" alt="logo" style='border-radius: 50%'/>
            <div class="htitle">NEWS</div>
        </header>
        <main><br/>
            <div class="container">
                {% for post in posts %}
                        <div class='cover'>
                            <h1 class='title'>{{post.title}}</h1>
                            <div class="writer"><b>
                                {% if post.posted_by == "Jennifer Hangoma" %}
                                    <a href="https://www.facebook.com/jenniferchanger" style="text-decoration: none;">{{post.posted_by}}</a>
                                {% elif post.posted_by == "John Tembo" %}
                                    <a href="" style="text-decoration: none;">{{post.posted_by}}</a>
                                {% elif post.posted_by == "Mary Mwelwa" %}
                                    <a href="" style="text-decoration: none;">{{post.posted_by}}</a>
                                {% elif post.posted_by == "Judy Sakala" %}
                                    <a href="" style="text-decoration: none;">{{post.posted_by}}</a>
                                {% elif post.posted_by == "Charles Mulenga" %}
                                    <a href="" style="text-decoration: none;">{{post.posted_by}}</a>


                                {% else %}
                                    <b>{{post.posted_by}}</b>
                                {% endif %}
                                </b> 
                                <small>{{post.date_time}}</small></div>
                            <p style="text-align: center;"><img src="{{post.image}}" height="175px" alt="{{post.title}}"/>
                            <p class='introduction'>{{post.introduction}}</p>
                            <p class='btn-end'><a href="{% url 'article' post.id %}" style="text-decoration: none;">Finish ...</a></p>
                        </div><br/>
                {% endfor %}
            </div>
            <br/>
            {% comment %} <div class="container">
                {% for post in posts %}
                    <div class="row">
                        <div class='cover'>
                            <p class='title'>{{post.title}}</p>
                            <p class='introduction'>{{post.introduction}}</p>
                        </div>
                    </div><br/>
                {% endfor %}
            </div>
            <br/> {% endcomment %}
        </main>
        <footer>
            <h5>Real, Important and Educative news</h5>
        </footer>
    </body>
</html>