{% load static %}
<!Doctype html>
<html>
    <head>
        <title>Real Zed News</title>
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"/>
    </head>
    <body>
        <header>
            <h1>Real Zed</h1>
            <img src="{% static 'main/images/logo.jpg' %}" height="130px" width="130px" alt="logo" style='border-radius: 50%'/>
            <h1>News</h1>
        </header>
        <main><br/>
            <div class="container">
                {% for post in posts %}
                    <div class="row">
                        <div class='cover'>
                            <p class='title'>{{post.title}}</p>
                            <p style="text-align: center;"><img src="{{post.image}}" height="" width="" alt="{{post.title}}"/>
                            <p class='introduction'>{{post.introduction}}</p>
                            <p class='btn-end'><a href="{% url 'article' post.id %}">Finish ...</a></p>
                        </div>
                    </div><br/>
                {% endfor %}
            </div>
            <br/>
            {% comment %} <div class="container">
                {% for post in posts %}
                    <div class="row">
                        <div class='cover'>
                            <p class='title'>{{post.title}}</p>
                            <p class='introduction'>{{post.introduction}}</p>
                        </div>
                    </div><br/>
                {% endfor %}
            </div>
            <br/> {% endcomment %}
        </main>
        <footer>
            <h5>Real, trusted and educative news</h5>
        </footer>
    </body>
</html>