{% load static %}
<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Real Zed News</title>
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"/>
    </head>
    <body style="width: 100%;">
        <header>
            <h1>Real ZED</h1>
            <img src="{% static 'main/images/logo.jpg' %}" height="130px" width="130px" alt="logo" style='border-radius: 50%'/>
            <h1>NEWS</h1>
        </header>
        <main><br/>
            <div class="container">
                {% for post in posts %}
                        <div class='cover'>
                            <p class='title'>{{post.title}}</p>
                            <div style="text-align: right; margin-right: 20px;"><small>{{post.date_time}}</small></div>
                            <p style="text-align: center;"><img src="{{post.image}}" height="175px" alt="{{post.title}}"/>
                            <p class='introduction'>{{post.introduction}}</p>
                            <p class='btn-end'><a href="{% url 'article' post.id %}">Finish ...</a></p>
                        </div><br/>
                {% endfor %}
            </div>
            <br/>
            {% comment %} <div class="container">
                {% for post in posts %}
                    <div class="row">
                        <div class='cover'>
                            <p class='title'>{{post.title}}</p>
                            <p class='introduction'>{{post.introduction}}</p>
                        </div>
                    </div><br/>
                {% endfor %}
            </div>
            <br/> {% endcomment %}
        </main>
        <footer>
            <h5>Real, Important and Educative news</h5>
        </footer>
    </body>
</html>