{% load static %}
<!Doctype html>
<html>
    <body>
        <main>
            <div class='images'>
                <img src="{% static 'main/article_image/cbu.JPG' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/closure.JPG' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/ecz_results.png' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/tanza.JPG' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/vs.png' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/cbu_meeting.jpg' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/chingola.png' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/open_day.png' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/health.jpg' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/helsb.jpg' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/dollarkwacha.png' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/cholera.jpg' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/study_star.png' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" width="320px" alt="image"/>
            </div><br/>
        </main>
    </body>
</html>

