{% load static %}
<!Doctype html>
<html>
    <body>
        <main>
            <div class='images'>
                <img src="{% static 'main/article_image/cbu.JPG' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/closure.JPG' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/ecz_results.png' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/tanza.JPG' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/vs.png' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
                <img src="{% static 'main/article_image/' %}" height="210px" alt="image"/>
            </div><br/>
        </main>
    </body>
</html>

